#container {
  display: grid;
  grid-template-rows: 50px 150px 50px 50px;
  width: 200px;
  margin: auto;
}
#display{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
}
#numbers{
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(4, 50px);
}
#operators{
  display: grid;
  grid-template-columns: repeat(4, 50px);
}